# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Django Allauth specific
allauth/

